In [57]:
data = 'python'
for i in range(len(data)):
    print(data[i])

p
y
t
h
o
n

In [58]:
data = 'python'
for i in data:
    print(i)

p
y
t
h
o
n

In [66]:
data = "Bishanath love russell viper also anaconda"
data = data.split()
for i in data:
    print(i)

Bishanath
love
russell
viper
also
anaconda

In [71]:
t = [2,5,7,9,10]
sum = 0
for i in t:
    sum = sum+i
    print(sum)
print('the result is:',sum)

2
7
14
23
33
the result is: 33

In [72]:
sum = 0
for i in range(1,101):
    sum = sum+i
print(sum)

5050

In [78]:
for i in range(-100,-90):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91