In [11]:
 sum=0
for i in range(10):
    sum=sum+i
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [13]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [18]:
data = 'i love data science'
data = data.split()
for i in data:
    print(i)

i
love
data
science

In [20]:
data = 'i love data science'
data = data.split()
[x for x in data if x!='love']

['i', 'data', 'science']

In [22]:
data = 'i love data science'
[x for x in data]

['i',
 ' ',
 'l',
 'o',
 'v',
 'e',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e']

In [23]:
mat = [[j for j in range(3)] for i in range(4)]
print(mat)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [28]:
w = ['php','c','c++','python']
[len(w1) for w1 in w]

[3, 1, 3, 6]