In [1]:
# Create a tuple of mixed data types
my_tuple = (1, "apple", 3.14, True)

In [2]:
my_tuple

(1, 'apple', 3.14, True)

In [3]:
# Access elements of the tuple using indexing
print("The first element is:", my_tuple[0])
print("The second element is:", my_tuple[1])

The first element is: 1
The second element is: apple

In [4]:
# Find the length of the tuple
length = len(my_tuple)

In [5]:
length

4

In [6]:
# Check if an element is in the tuple
if 3.14 in my_tuple:
    print("3.14 is in the tuple")

3.14 is in the tuple

In [7]:
# Iterate through the tuple
print("Tuple elements:")
for item in my_tuple:
    print(item)

Tuple elements:
1
apple
3.14
True

In [8]:
# Concatenate tuples
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")
concatenated_tuple = tuple1 + tuple2

In [9]:
concatenated_tuple

(1, 2, 3, 'a', 'b', 'c')

In [10]:
# Repeat a tuple
repeated_tuple = tuple1 * 3

In [11]:
repeated_tuple

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
# Nested tuples
nested_tuple = ((1, 2), (3, 4), (5, 6))

In [13]:
nested_tuple

((1, 2), (3, 4), (5, 6))

In [14]:
# Access elements of a nested tuple
print("Element at row 2, column 1:", nested_tuple[1][0])

Element at row 2, column 1: 3